<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <connectionStrings>
      <add name="DefaultConnection" connectionString="Data Source=DM-ПК\SQLEXPRESS;Initial Catalog=KoreanShop;Integrated Security=SSPI"
       providerName="System.Data.SqlClient"/>
    </connectionStrings>
<appSettings>      
      <add key="qrCodesOutputDirectory" value="C:\\Users\\dm\\Desktop\\qrCodes"/>      
    </appSettings>
</configuration>